
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
	
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	
		<title>IS NEWS</title>
	</head>
	<body style="background-color: #006FA4;">
	
		<div
		style="margin: 0 auto; width: 700pt; height: 150pt; margin-top: 60pt; text-align: center;">
		<p
		style="font-family: helvetica; margin-top: 6 0pt; font-size: 35pt; color: #C0C0C0;">
		Welcome to</p>
		<p
		style="font-family: helvetica; margin-top: 20pt; font-size: 60pt; color: #FFFFFF;">
		IS NEWS</p>
	</div>
	
	<div
	style="margin: 0 auto; width: 300pt; height: 250pt; text-align: center;">
	<p
	style="font-family: helvetica; margin-top: 35pt; font-size: 30pt; color: #FFFFFF;">
	Unsubscribe
	</p>
	<br>
	
	
	<form action="Remove" method="Get" accept-charset="UTF-8">
		<input type="text" name="email" value="" placeholder="email"
		style="display: inline block; height: 30pt; padding: 4px 6px;">
		<p></p>

		

		
		<br> <br>
		<button class="btn btn-lg btn-success" type="submit" onclick="Submit">Unsubscribe</button>
	</form>
	</div>
	
	</body>

</html>

